/**
 * @name InvertedCord
 * @description Inverts your discord.
 * @author BinnedXena (Github: 3xnn)
*/

@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css');

:root {
  --accentcolor: 63,81,181;
  --accentcolor2: 103,58,183;
  --linkcolor: 3,169,244;
  --mentioncolor: 0,188,212;
  --textbrightest: 3,169,244;
  --textbrighter: 33,150,243;
  --textbright: 0,188,212;
  --textdark: 103,58,183;
  --textdarker: 103,58,183;
  --textdarkest: 156,39,176;
  --font: 0;
  --backgroundaccent: 33,150,243;
  --backgroundprimary: 156,39,176;
  --backgroundsecondary: 3,169,244;
  --backgroundsecondaryalt: 0,150,136;
  --backgroundtertiary: 0,150,136;
  --backgroundfloating: 233,30,99;
  --settingsicons: 1;
}
